@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  /*Font*/
  font-size: 16px;

  /*Colors*/
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);

  /*Gradients*/
  --Gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size:contain;
  font-family: "Josefin Sans", sans-serif;
  color: var(--DesaturatedRed);
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  }

header {
  margin: 2em;
  text-transform: uppercase;
}

.logo {
  max-height: 75%;
}

.image {
  min-height: 300px;
  background-image: url(./images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  height: 100%;

}

.textcontent {
  margin: auto;
}
h1 {
    text-transform: uppercase;
    font-size: 2.3em;
    letter-spacing: 0.35em;
    margin: 1em;
    text-align: center;
}
.h1-split {
  display: block;
  font-weight: 300;
}
.h2-split {
     color: #000;
 }

.text {
    line-height: 1.7em;
    text-align: center;
    padding: 1em;
    max-width: 500px;
}

.email {
  display: flex;
  margin-left: 20px;
  min-width: 280px;
  }

.email input {
  padding-left: 30px;
  width: 100%;
  border: solid 1px var(--DesaturatedRed);
  border-radius: 30px 0 0 30px ;
  color: var(--DesaturatedRed);
}
::placeholder {
  color: var(--DesaturatedRed);
}

.button{
  transform: translate(-4.5em);
  background-image: var(--Gradient2);
  min-width: 6.5em;
  min-height: 4em;
  border-radius: 30px;
  border: none;
  box-shadow: 10px 5px 30px var(--DesaturatedRed);
}

.button:hover {
  background-image: var(--DarkGrayishRed);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: 50px;
}
 @media screen and (min-width: 769px) {
   section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "header  image" 
    "textcontent image";
   }
   .header {
    margin-top: 50px;
    margin-left: 20%;
    grid-area: header;
    height: 20%;
  }

   .image {
    background-image: url(./images/hero-desktop.jpg);
    grid-area: image;
    background-position: right;
    background-size: contain;
    min-width: 600px;
  
   }
  .textcontent {
    margin-left: 20%;
    width: 55%;
    padding-bottom: 100px;
    margin-top: 30px;
    grid-area: textcontent;
  }

  h1 {
    max-width: 70%;
    font-size: 3.5em;
  }
  h1, .text, .email {
    text-align: left;
    padding: 30px 0;
    margin: 0;
  }

 }

 #error {
   display: none;
   position: relative;
   left: -4em;
   top: 0.8em;
   height: fit-content;
 }
  #input-message {
    display: none;
    text-align: center;
  }