@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  /*Font*/
  font-size: 16px;

  /*Colors*/
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);

  /*Gradients*/
  --Gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "Josefin Sans", sans-serif;
  color: var(--DesaturatedRed);
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin: 2em;
  text-transform: uppercase;
}

.logo {
  height: 75%;
}

.image {
  width: 100%;
  height: 100%;
  background-image: url(./images/hero-mobile.jpg);
  background-repeat: no-repeat;
}

h1 {
    text-transform: uppercase;
    font-size: 2.3em;
    letter-spacing: 0.35em;
    margin: 1em;
    text-align: center;
}
.h1-split {
  display: block;
  font-weight: normal;
}
.h2-split {
     color: #000;
 }
.textcontent {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size: cover;
  
}
.text {
    line-height: 1.7em;
    text-align: center;
    padding: 1em;
}

.email {
  display: flex;
  margin-left: 20px;
  }

.email input {
  padding-left: 30px;
  width: 100%;
  border: solid 1px var(--DesaturatedRed);
  border-radius: 30px 0 0 30px ;
  color: var(--DesaturatedRed);
}
::placeholder {
  color: var(--DesaturatedRed);
}

button{
  transform: translate(-2.5em);
  background-image: var(--Gradient2);
  min-width: 4.5em;
  min-height: 3.5em;
  border-radius: 30px;
  border: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
